<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="microsoft.visualstudio.testtools" 
             type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, 
             Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=10.0.0.0"/>
  </configSections>
  
  <connectionStrings >
    <add name="PerosonMarkExcelConn" connectionString="Dsn=Excel Files;dbq=|DataDirectory|\\PersonMarkPlaceTestCases.xlsx;defaultdir=.; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />
  </connectionStrings>
  
  <microsoft.visualstudio.testtools>
    <dataSources>
      <add name="PerosonMarkExcelDataSource" connectionString="PerosonMarkExcelConn" dataTableName="Sheet1$" dataAccessMethod="Sequential"/>
      <add name="PerosonMarkWithTimeStampExcelDataSource" connectionString="PerosonMarkExcelConn" dataTableName="Sheet2$" dataAccessMethod="Sequential"/>
      <add name="PerosonMarkWithTimeSpanExcelDataSource" connectionString="PerosonMarkExcelConn" dataTableName="Sheet3$" dataAccessMethod="Sequential"/>
    </dataSources>
  </microsoft.visualstudio.testtools>
  
</configuration>